* {
  margin: 0;
}

.app__swapBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    cursor: pointer;
  }
}

.container {
  padding: 15px;
  color: #36707a;
}

.currency-selector {
  padding: 5;
  height: 50px;
  justify-content: center;
  align-content: center;
  display: flex;

  span {
    display: flex;
    align-self: center;
    justify-self: center;
  }
}
