* {
  margin: 0;
}

.container {
  padding: 15px;
}

.currency-selector {
  padding: 5;
  height: 50px;
  justify-content: center;
  align-content: center;
  display: flex;

  span {
    display: flex;
    align-self: center;
    justify-self: center;
  }
}
